body{
    margin: 0px;
}

#landing{
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feffff;
}

#landing img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
}

#aboutMe{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #def2f1;
}

#portfolio{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #3aada9;
}

#contactMe{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #2b7a78;
}