@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.progressBar {
  width: 10px;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgb(0, 0, 0, 0.5);
}

#progress {
  width: 50px;
  background-color: #1bc7c1;
}

nav {
  position: fixed;
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  transition: width 0.5s ease-in;
}

nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

nav a img {
  margin: 15px 10px;
  padding: 0px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

.navText {
  margin: 0px;
  padding: 0px;
  display: none;
  width: 120px;
}

nav li:last-child {
  margin-top: auto;
  opacity: 0.5;
}

nav li:last-child img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in;
}

nav:hover {
  width: 140px;
}

nav:hover ul {
  align-items: flex-start;
}

nav:hover .navText {
  display: block;
}

nav:hover li img:last-child {
  transform: rotate(180deg);
  margin-left: 90px;
}

#home {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feffff;
}

.profileContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px;
  border-radius: 10px;
  background-color: #def2f1;
  box-shadow: 0px 0px 10px gray;
  text-align: center;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px gray;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.label img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.greeting {
  margin: 20px;
  width: 70%;
}

.social {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social a img {
  margin: 0px 10px;
  width: 50px;
  height: 50px;
}

/* .buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
} */

.button {
  background-color: #feffff;
  border-radius: 50px;
  margin-top: 20px;
  padding: 10px 15px;
  box-shadow: 0px 0px 10px gray;
  text-decoration: none;
  color: black;
  transition: box-shadow 0.5s;
}

.button:hover {
  box-shadow: 0px 0px 20px #3aada9;
}

.aboutContainer .button:hover,
.projectButton .button:hover {
  box-shadow: 0px 0px 20px white;
}

.button:visited {
  color: black;
}

#aboutMe {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #def2f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 50%;
  margin: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #3aada9;
  box-shadow: 0px 0px 10px gray;
}

.aboutContainer h3,
p {
  padding: 0px;
  margin: 0px;
}

.aboutContainer p img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.skillsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
}

.skillImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.skillImage img {
  width: 50px;
  height: 50px;
}

#projects {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #3aada9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalScrollContainer {
  overflow-x: auto;
  scroll-padding-right: 20px;
  width: 85%;
}

.projectContainer {
  padding: 20px;
  width: 2100px;
  display: flex;
}

.projectCard {
  display: flex;
  margin: 15px 15px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feffff;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px #17252a;
}

.projectCard:last-child {
  margin-right: 50px;
}

.projectCard h2 {
  margin: 0px;
  margin-top: 10px;
}

.projectCard img {
  margin: 10px;
  width: 250px;
  height: 250px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #2b7a78;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.projectInfo p {
  margin: 15px;
  padding: 0px;
}

.projectButton {
  margin: 0px;
  margin-top: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.projectButton .button {
  margin: 0px 15px 15px 15px;
}

#contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #2b7a78;
}

.contactFormContainer {
  width: 40%;
  display: flex;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0px;
  background-color: #17252a;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #17252a;
}

form h1 {
  color: white;
}

form input,
textarea {
  color: black;
  width: 90%;
  margin: 10px 0px;
  padding: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  border: 0px;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  width: 30%;
  margin: 20px 0px;
  padding: 10px;
  font-size: 16px;
  background-color: #feffff;
  border-radius: 50px;
  border: 0px;
  transition: box-shadow 0.5s;
}

form button:hover {
  box-shadow: 0px 0px 10px #feffff;
}

footer {
  background-color: #17252a;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 0px;
}

footer a {
  color: #3aada9;
}

footer a:visited {
  color: #3aada9;
}

/*Large tablet (iPad Pro)*/
@media screen and (max-width: 1200px) {
  .profileContainer {
    width: 65%;
    font-size: 20px;
  }

  .aboutContainer {
    width: 65%;
    font-size: 20px;
  }

  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .projectCard img {
    width: 200px;
    height: 200px;
  }

  .contactFormContainer {
    width: 60%;
    font-size: 25px;
  }

  .contactFormContainer input,
  textarea,
  button {
    font-size: 20px;
  }
}

/*Medium Tablet (iPad)*/

/*Large Phone (iPhone X/Pixel XL)*/
@media screen and (max-width: 500px) {
  .progressBar {
    display: none;
  }

  nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav li {
    width: 100%;
  }

  nav a img {
    margin: 5px auto;
  }

  nav li:last-child {
    display: none;
  }

  nav:hover {
    width: 100vw;
  }

  nav:hover .navText {
    display: none;
  }

  .profileContainer {
    width: 75%;
    font-size: 15px;
  }

  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
  }

  .label img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .greeting {
    width: 100%;
  }

  .aboutContainer {
    width: 75%;
    font-size: 14px;
  }

  .skillsContainer {
    grid-template-columns: repeat(5, 1fr);
  }

  #projects {
    height: 100%;
    padding: 20px 0px;
  }

  .projectContainer {
    font-size: 15px;
  }

  .contactFormContainer {
    width: 85%;
    font-size: 20px;
  }

  footer {
    padding-bottom: 60px;
  }
}

/*Small Phone (iPhone 5s)*/
@media screen and (max-width: 380px) {
  .profileContainer {
    font-size: 12px;
  }

  .button {
    margin-top: 15px;
    padding: 5px 10px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
  }

  .label img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }

  .social a img {
    margin: 0px 5px;
    width: 35px;
    height: 35px;
  }

  .aboutContainer {
    width: 75%;
    font-size: 11px;
  }

  .aboutContainer p img {
    margin-left: 1px;
    width: 15px;
    height: 15px;
  }


  .aboutContainer img {
    width: 30px;
    height: 30px;
  }

  .skillsContainer {
    grid-template-columns: repeat(5, 1fr);
  }

  #projects {
    height: 100%;
    padding: 20px 0px;
  }

  .projectContainer {
    font-size: 10px;
  }

  .contactFormContainer {
    width: 85%;
    height: 450px;
    font-size: 15px;
  }
}